@import url('https://fonts.googleapis.com/css2?family=Mali&display=swap');
html * {
    background-color: #e0628c;
    margin: 0;
    padding: 0;
    font-family: 'Mali';
}
.heading-container {
    position: relative;
    height: 50px;
    background-color: #e43972;
}
.heading {
    background-color: #e43972;
    color: white;
    position: absolute;
    top: 50%;
    left: 45px;
    transform: translateY(-50%);
}
.input-container {
    position: relative;
    top: 25px;
    left: 25px; 
    width: 27%;
    height: 200px;
}
input {
    background-color: white;
    border: none;
    padding: 5px 10px;
    outline: none;
    width: 165px;
    border-radius: 3px;
    height: 25px;
    margin: 10px 0;
}
select {
    font-weight: bold;
    background-color: white;
    border-radius: 3px;
    outline: none;
    padding: 0 10px;
    height: 30px;
    width: 90px;
    border: none;
}
option {
    background-color: white;
}
label {
    color: white;
    font-size: 17px;
}
.input-1, .input-2 {
    margin-bottom: 30px;
}
button {
    font-size: 17px;
    color: #000;
    letter-spacing: 1.5px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    background-color: white;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 18px #4d3641;
}
.container {
    position: relative;
}
.meter {
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid white;
    border-radius: 25px;
    width: 90%;
    height: 40px;
}
#meter-percent {
    position: absolute;
    color: white;
    top: 425px;
    left: 50%;
    transform: translateX(-50%)
}
#meter-fill {
    border-radius: 20px;
    position: relative;
    bottom: 0.5 px;
    height: 40px;
    width: 0%;
    background-color: #00ff00;
}
.symbols {
    position: absolute;
    top: 7px;
    left: 0%;
    transform: rotate(30deg) translateX(-40px);
    color: #ff0055;
    font-size: 80px;
    background: transparent;
}
.desc-container {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    width: 65%;
    height: 100px;
    z-index: -1;
}
.desc, .people {
    text-align: center;
    color: white;
}
.people {
    position: relative;
    bottom: 20px;
}
.upper-love {
    font-size: 60px;
}
.popup-container {
    position: absolute;
}
.popup {
    top: 75px;
    left: 100px;
    position: absolute;
    background-color: white;
    text-align: center;
    border-radius: 3px;
    width: 225px;
    border: 2px solid red;
    color: black;
    padding: 10px 0;
    z-index: 1;
}
.popup p {
    background-color: white;
}
.popup-shadow {
    top: 75px;
    left: 100px;
    position: absolute;
    background-color: white;
    text-align: center;
    border-radius: 3px;
    width: 225px;
    color: black;
    padding: 10px 0;
    box-shadow: 0 0 18px 1px #4d3641;
}
.triangle {
    top: 67px;
    left: 120px;
    position: absolute;
    box-shadow: 0 0 10px 1px #4d3641;
    background-color: red;
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
}
#popup-1-container, #popup-2-container {
    display: none;
}
#popup-2-container {
    width: 300px;
    position: absolute;
    top: 137px;
}
#overlay-container {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
#overlay {
    padding: 30px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #e0628c;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    height: 85%;
    width: 92%;
}
#overlay h1 {
    color: white
}
#continue {
    border-radius: 25px;
    margin-top: 140px;
    padding: 15px;
    font-size: 30px;
    transition: 0.3s;
}
#continue:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px #4d3641;
}
#calculate {
    margin-top: 20px;
}
